@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

body,
#root {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  margin: 4rem 0 0.8rem 0;
}

.section {
  width: 40vw;
  height: auto;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .search-box {
  width: 280px;
  height: auto;
  margin: 1.2rem 0;
  padding: 0.6rem 0;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .search-box .search-row {
  margin-bottom: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .search-box .search-row:nth-last-child() {
  margin-bottom: 0;
}

.section .search-box .search-row-1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.section .search-box .search-row-2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.section .search-box .search-row-2 .deniedStat {
  width: 220px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d90429;
  background-color: #ffa69e;
  border: 1px solid #d90429;
  border-radius: 0.2rem;
}

.section .search-box .search-row-2 .verifiedStat {
  width: 220px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #007200;
  background-color: #80ed99;
  border: 1px solid #007200;
  border-radius: 0.2rem;
}

.section .search-box .search-row-3 input {
  width: 220px;
  height: 40px;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.2rem;
}

.section .search-box .search-row-3 input:focus {
  background: none;
  border: none;
}

.section .search-box .search-row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
}

.section .search-box .search-row-4 .or {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0.4rem;
}

.section .search-box .search-row-4 span {
  width: 90px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
}

.section .search-box .search-row-5 .btn {
  width: 220px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  min-height: 3rem;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
}

.section .search-box .search-row-5 .btn:hover, .section .search-box .search-row-5 .btn:focus {
  background-color: #fb8332;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.section .search-box .search-row-5 .btn:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.section .search-box .search-row-5 .btn:active {
  background-color: #c85000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section .weather-card {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.section .weather-card .row {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.2rem;
}

.section .weather-card .row:nth-last-child() {
  margin-bottom: 0;
}

.section .weather-card .row-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50px;
  padding: 0;
  margin-bottom: 0.6rem;
}

.section .weather-card .row-1 .arrow {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  min-height: 3rem;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
}

.section .weather-card .row-1 .arrow:hover, .section .weather-card .row-1 .arrow:focus {
  background-color: #fb8332;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.section .weather-card .row-1 .arrow:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.section .weather-card .row-1 .arrow:active {
  background-color: #c85000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section .weather-card .row-1 .arrow svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.section .weather-card .row-1 span {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.8rem;
}

.section .weather-card .row-2 {
  height: 100px;
  overflow: hidden;
}

.section .weather-card .row-2 img {
  width: 180px;
  height: 180px;
  position: relative;
  top: 10px;
}

.section .weather-card .row-3 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
}

.section .weather-card .row-5 {
  margin-bottom: 0.7rem;
}

.section .weather-card .row-5 span {
  margin: 0 0.1rem;
}

.section .weather-card .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .weather-card .box .row .item {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 0.5rem;
}

.section .weather-card .box .row .item h2 {
  font-size: 1.2rem;
}

.section .weather-card .box .row .item p {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}

.section .hidden {
  display: none;
}
/*# sourceMappingURL=index.css.map */